@keyframes animate-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animate-scale {
  0% { transform: scale(1); }
  33% { transform: scale(1.3); }
  66% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

.spin { animation: animate-spin linear 1.5s infinite; }
.scale { animation: animate-scale ease-in-out 2s infinite; }

.transition { transition: all 0.5s; }
.mode--instant { transition-duration: 0.1s; }
.mode--fast { transition-duration: 0.25s; }
.mode--slow { transition-duration: 3s; }
