html,
body,
#root {
  @apply w-full min-h-full;
}
#root {
  @apply flex flex-col;
}

p {
  @apply mt-4;
}

p:first-child {
  @apply mt-2;
}

a {
  @apply text-blue-700;
}
a:hover {
  @apply text-blue-500;
}
a:focus {
  @apply outline-none shadow-outline;
}
a:active {
  @apply text-blue-900;
}
